article {
    background: greenyellow;
    border: 2px solid black;
    color: black;
    padding: 15px;
    margin: 20px 5px;
    width: 400px;
    /* -moz-transition: all 5s linear;
    -webkit-transition: all 5s linear;
    -o-transition: all 5s linear;
    -ms-transition: all 5s linear; */
}

article p {
    font: 30px Tahoma;
    font-weight: bold;
    widows: 100%;
}

/* article:hover {
    height: 400px;
    widows: 800px
} */

/* article:hover {
    background: black;
    color: greenyellow;

    /* poner esto para que sea compatible con todos los navegadores 
    -moz-transform: translate(150px, 300px);
    -webkit-transform: translate(150px, 300px);
    -o-transform: translate(150px, 300px);
    -ms-transform: translate(150px, 300px);
    transform: translate(150px, 300px);
} */

/* article:hover {
    background: black;
    color: yellow;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
} */

/* article:hover {
    background: black;
    color: greenyellow;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
} */

/* article:hover {
    background: black;
    color: greenyellow;
    -moz-transform: skew(10deg, 10deg);
    -webkit-transform: skew(10deg, 10deg);
    -o-transform: skew(10deg, 10deg);
    -ms-transform: skew(10deg, 10deg);
} */

/* article:hover {
    background: black;
    color: greenyellow;
    -moz-transform: translate(150px, 150x) rotate(360deg) scale(1.5) skew(10deg, 10deg);
    -webkit-transform: translate(150px, 150x) rotate(360deg) scale(1.5) skew(10deg, 10deg);
    -o-transform: translate(150px, 150x) rotate(360deg) scale(1.5) skew(10deg, 10deg);
    -ms-transform: translate(150px, 150x) rotate(360deg) scale(1.5) skew(10deg, 10deg);
} */